body{
	text-align: center;
}


.float-right{
	padding-top: .78em;
	padding-right: 2em;
	word-spacing: .75em;
	font-size: 14px;
}



#logo{

	width: 20rem;
	padding-top: 5rem;
}

#searchbar{
padding-top: 10px;
page-break-after: 



}

#searchb{
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	
	



	
}






	
